.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
build
*.iml
app/mapping.txt
app/src/main/res/values/com_crashlytics_export_strings.xml
app/src/main/assets/crashlytics-build.properties
app/src/main/res/raw/signals_mock.json
gandalf/src/main/res/values/com_crashlytics_export_strings.xml
gandalf/src/main/assets/crashlytics-build.properties
.idea/inspectionProfiles/
.idea/scopes/
.idea/copyright/
.idea/caches
.idea/*.xml
.idea/libraries
.idea/*.iml
